@font-face {
    font-family: "Raleway";
    src: url("./../font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Bd";
    src: url("./../font/Raleway-Bold.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #051329;
    --secondary: #2E8A99;
    font-family: "Raleway";
    color: white;
}


/* **********************
    weather_container
********************** */
main section {
    margin: 30px auto;
    width: 370px;
    height: 720px;
    border-radius: 30px;
    background-color: var(--primary);
    text-align: center;
}

.data_style_general {
    margin: 30px auto 0px auto;
    width: 80%;
}

/*
******************************************
    1st data block ---> weather_data_one
********************************************** */

 /* City */
main section article:nth-of-type(1) > p:nth-of-type(1) {
    padding-top: 50px;
    font-size: 2.5rem;
}

/* Time */
main section article:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 1.2rem;
}

/* Main weather container */
main section article:nth-of-type(1) > div {
    padding-block: 40px;
    border-radius: 20px;
    box-shadow: inset -1px -1px 5px 0px rgba(164, 181, 184, 0.7);
    background: linear-gradient(320deg, rgba(5,19,41,1) 40%, rgba(31,110,140,0.65) 92%);

}

/* => Icon */
main section article:nth-of-type(1) > div p:nth-of-type(1) {
    /* ACHTUNG: wenn echtes Icon eingefügt ist, ggf. margin anpassen!!!!  */
    margin-top: -15px;
    font-size: 6rem;
}

/* => Temperature */
main section article:nth-of-type(1) > div p:nth-of-type(2) {
    /* ACHTUNG: wenn echtes Icon eingefügt ist, ggf. anpassen!!!!  */
    margin-top: -10px;
    font-family: "Raleway-Bd";
    font-size: 3.5rem;
}

/* => Weather condition */
main section article:nth-of-type(1) > div p:nth-of-type(3) {
    margin-bottom: 8px;
    font-size: 1.5rem;;
}

/* => Date */
main section article:nth-of-type(1) > div p:nth-of-type(4) {}

/* ******************************************
    2nd data block ---> weather_data_two
********************************************** */

/* Further weather data */
.data_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.data_grid > p {
    padding: 20px;
    display: flex;
    font-size: 1.1rem;
    border-radius: 12px;
    box-shadow: inset -1px -1px 5px 0px rgba(164, 181, 184, 0.7);
    background: linear-gradient(320deg, rgba(5,19,41,1) 40%, rgba(31,110,140,0.65) 92%);
}

.data_grid > p:nth-of-type(1) {
    grid-column: 1 / 4;
    justify-content: space-evenly;
    align-items: center;
}

.data_grid > p:nth-of-type(2), 
.data_grid > p:nth-of-type(3), 
.data_grid > p:nth-of-type(4) {
    flex-direction: column;
    gap: 10px;
}

.data_grid > p > span {
    font-size: 32px;
}